* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4b4242;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    
}

body {
    background: linear-gradient(90deg, #e4dcd1, #7a7e72);
}

.navbar {
    background: linear-gradient(90deg, #e4dcd1, #7a7e72);
    
}

.navbar .nav-link {
    color: #4b4242 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar-toggler {
    border: none !important; /* Remove border */
    outline: none !important; /* Remove outline */
}

.navbar-toggler:focus {
    box-shadow: none !important; /* Remove the focus box shadow */
}

.logo {
    width: 4rem;
}


.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff; /* Adjust this color as needed */
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the height of the line */
    bottom: 0;
    left: 50%;
    background-color: #fff; /* Adjust the color of the line */
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover {
    color: #fff !important; /* Adjust the hover text color */
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}



.container {
    min-height: 100vh;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 0 auto;
    color: #4b4242;
    text-shadow: 1px 1px 1px #000;
}

.slogan {
    text-shadow: 0.5px 0.5px 0.5px #000;
}

.cs-text {
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.cs {
    font-size: 3rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.dots {
    list-style: none;
    display: flex;
}

.dots div {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #4b4242;
    --webkit-animation: bounce 1s infinite alternate;
    --moz-animation: bounce 1s infinite alternate;
    --o-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-moz-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-o-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

.dots div:nth-child(2) {
    animation-delay: 300ms;
}

.dots div:nth-child(3) {
    animation-delay: .6s;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    /* margin-left: 35rem; */
    right: 0;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 25% !important;
    height: 70%;
    /* overflow: auto;  */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Limit maximum width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add shadow */
    border-radius: 0px; /* Optional: Add rounded corners */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Form inputs and button */
#messagingForm label {
    display: block;
    margin-bottom: 8px;
}

#messagingForm input,
#messagingForm textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding doesn't add to width */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#messagingForm button {
    width: 45%;

    padding: 5px;
    background-color: #4b4242; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#messagingForm button:hover {
    background-color: #7a7e72; 
}

/* Positioning and size adjustments */
#openMessagingFab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 8px 8px; /* Adjust padding for smaller button */
    font-size: 1rem;
    
    color: #fff !important;
    background-color: #4b4242;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openMessagingFab:hover {
    background-color: #4b4242;
}

#openMessagingFab i {
    color: #fff;
    margin: 0 auto;
    padding-top: 4px;
    
}

#openMessagingFab .fa-close {
    display: none; /* Hide close icon initially */
}

#openMessagingFab.active .fa-close {
    display: inline; /* Show close icon when button is active */
}

#openMessagingFab.active .fa-message {
    display: none; /* Hide message icon when button is active */
}

.messageSentPopup .popup-content {
    background-color: #4b4242;
    color: #fff;
}

.sent-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    /* margin-left: 35rem; */
    right: 0;
    padding-top: 25rem;
    padding-bottom: 1rem;
    width: 20% !important;
    height: 50%;
    /* overflow: auto;  */
}

.slide-body {
    display: grid;
    place-items: center;
}

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: transform 0.8s;
}

img:hover {
    transform: scale(1.2);
    
}



/* gradient shadows */
.slider::before,
.slider::after {
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 5;
}

.slider::before {
    left: 0;
    top: 0;
    background: linear-gradient(to right, rgb(214, 208, 199) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
    background: linear-gradient(to right, rgb(136, 139, 130) 0%, rgba(255, 255, 255, 0) 100%);
}

@media (min-width: 768px) and (max-width: 1264px) {
    .title-div {
        /* font-size: 2.5rem; */
        margin-top: 3rem !important;
        margin-bottom: 1rem !important;
    }



}



/* Media Query for screens with max-width of 768px */
@media (max-width: 768px) {
    * {
        font-size: 16px; /* Reduce the base font size */
    }

    .title-div {
        font-size: 2.5rem;
        margin-top: 5rem !important;
        margin-bottom: 2rem !important;
    }

    .cs {
        font-size: 2.5rem; /* Further reduce the cs font size */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .navbar .nav-link {
        padding-left: 0.5rem !important; /* Adjust navbar padding */
        padding-right: 0.5rem !important;
    }

    .popup {
        width: 50% !important; /* Adjust popup width */
        height: 60%; /* Adjust popup height */
        margin-top: 4rem !important;
    }

    #openMessagingFab {
        width: 3rem;
        height: 3rem;
    }

    #openMessagingFab i {
        font-size: 1.5rem; /* Adjust icon size */
    }
}

/* Media Query for screens with max-width of 450px */
@media (max-width: 468px) {
    * {
        font-size: 14px; /* Further reduce the base font size */
    }

    .title {
        font-size: 2rem; /* Further reduce the title font size */
    }

    .slogan {
        font-size: 1.5rem;
    }

    .title-div {
        margin-top: 3rem !important;
        margin-bottom: 0rem !important;
    }

    .cs {
        font-size: 2rem; /* Further reduce the cs font size */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .navbar .nav-link {
        padding-left: 0.25rem !important; /* Further adjust navbar padding */
        padding-right: 0.25rem !important;
    }

    .popup {
        width: 75% !important; /* Further adjust popup width */
        height: 50% !important; /* Further adjust popup height */
        
    }

    #openMessagingFab {
        width: 2.5rem;
        height: 2.5rem;
    }

    #openMessagingFab i {
        font-size: 1rem; /* Further adjust icon size */
    }

    /* .slider-body {
        margin-top: -12rem !important;
    } */


}