* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #4b4242;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    
}

body {
    background: linear-gradient(90deg, #e4dcd1, #7a7e72);
}

.navbar {
    background: linear-gradient(90deg, #e4dcd1, #7a7e72);
    
}

.navbar .nav-link {
    color: #4b4242 !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.navbar-toggler {
    border: none !important; /* Remove border */
    outline: none !important; /* Remove outline */
}

.navbar-toggler:focus {
    box-shadow: none !important; /* Remove the focus box shadow */
}

.logo {
    width: 4rem;
}


.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff; /* Adjust this color as needed */
    transition: color 0.3s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the height of the line */
    bottom: 0;
    left: 50%;
    background-color: #fff; /* Adjust the color of the line */
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover {
    color: #ddd; /* Adjust the hover text color */
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}



.container {
    min-height: 100vh;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 3rem;
    margin: 0 auto;
    color: #4b4242;
    
}

.cs {
    font-size: 8rem;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.dots {
    list-style: none;
    display: flex;
}

.dots div {
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #4b4242;
    --webkit-animation: bounce 1s infinite alternate;
    --moz-animation: bounce 1s infinite alternate;
    --o-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-moz-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-o-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

.dots div:nth-child(2) {
    animation-delay: 300ms;
}

.dots div:nth-child(3) {
    animation-delay: .6s;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    /* margin-left: 35rem; */
    right: 0;
    padding-top: 5rem;
    padding-bottom: 1rem;
    width: 25% !important;
    height: 70%;
    /* overflow: auto;  */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Limit maximum width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Add shadow */
    border-radius: 0px; /* Optional: Add rounded corners */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Form inputs and button */
#messagingForm label {
    display: block;
    margin-bottom: 8px;
}

#messagingForm input,
#messagingForm textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding doesn't add to width */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#messagingForm button {
    width: 45%;

    padding: 5px;
    background-color: #4b4242; /* Green background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#messagingForm button:hover {
    background-color: #7a7e72; /* Darker green on hover */
}

/* Positioning and size adjustments */
#openMessagingFab {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 8px 8px; /* Adjust padding for smaller button */
    font-size: 1rem;
    
    color: #fff !important;
    background-color: #4b4242;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#openMessagingFab:hover {
    background-color: #4b4242;
}

#openMessagingFab i {
    color: #fff;
    margin: 0 auto;
    padding-top: 4px;
    
}

#openMessagingFab .fa-close {
    display: none; /* Hide close icon initially */
}

#openMessagingFab.active .fa-close {
    display: inline; /* Show close icon when button is active */
}

#openMessagingFab.active .fa-message {
    display: none; /* Hide message icon when button is active */
}

.messageSentPopup .popup-content {
    background-color: #4b4242;
    color: #fff;
}

.sent-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    /* margin-left: 35rem; */
    right: 0;
    padding-top: 25rem;
    padding-bottom: 1rem;
    width: 20% !important;
    height: 50%;
    /* overflow: auto;  */
}
